body 
{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    list-style-type: none;
    height: 60px;
    background-color: black;
    color: white;

}

nav ul li{
   padding: 0 20px;
}

.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 75vh;
    background-color: black;
    color: white;
    font-family:'Varela Round', sans-serif ;
    display: flex;
    margin: 20px auto;
    width: 70%;
    border-radius: 12px;
    padding: 30px;
    background-image: url('bg.jpg');
}

.bottom{
    position: sticky;
    height: 80px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icon{
    margin-top: 10px;
}

.icon i{
    cursor: pointer;
}
#myProgressBar{
    width: 80vw;
    cursor: pointer;
}

.songitemcontainer{
    margin-top: 74px;
}
.songitem{
    height: 50px;
    display: flex;
    background-color: white;
    
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;

}

.songitem img{
    width: 35px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
    cursor: pointer;
}

.songinfo {
    position: absolute;
    left: 1vw;
    font-family:'Varela Round', sans-serif ;

}
.songinfo img{
    height: 20px;
    opacity: 0;
    transition: opacity is ease-in;
}




